.FormBuy {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 16px;
  border: 4px solid rgb(34, 107, 176);
  background: rgba(204, 227, 238, 0.812);
  margin-bottom: 20px;
}

.FormBody {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 18px;  
}

.FieldContainer {
  position: relative;
}

.inputError,
.selectError {
  border-color: rgb(255, 41, 41);

}

.messageError {
  position: absolute;
  color: rgb(200, 16, 16);
  font-size: 12px;
  left: 200px;
  top: 1px;
  padding: 2px 6px;
}

.FormSubmit {
  background: #393ba6cf;
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.3s;
}

.FormSubmit:hover {
  filter: contrast(150%);
}