.ProductContainer {
  display: flex;
  background: rgb(237, 240, 246);
  max-width: 400px;
}

.Product {
  padding: 10px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: rgb(61, 98, 193);
  flex-grow: 1;
}

.article,
.articleText,
.color,
.colorText {
  color: rgb(61, 98, 193);
}

.article,
.color {
  font-size: 12px;
}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: right;
  padding-top: 8px;
  border-top: 2px solid #a1857a;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart,
.favorites {
  color: #c13d3d;
  cursor: pointer;
  transition: all 300ms ease;
}

.cart {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inCartTxt {
  font-size: 14px;
  color: #49362e;
  font-weight: bold;
  text-transform: uppercase;
}

.inCartCount {
  font-size: 16px;
  color: #49362e;
  font-weight: bold;
  text-transform: uppercase;
}

.favorites {
  position: absolute;
}

.price {
  text-align: right;
  font-size: 18px;
  color: rgb(61, 98, 193);
}

.modalAddCart {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

  .sds {
    color: rgb(204, 25, 52);
    background: rgb(28, 134, 70);
  }
}